.container {
    width: clamp(400px, 90%, 1440px);
    margin: 7rem auto;
    min-height: 80vh;
}

.active {
    color: var(--white) !important;
    font-weight: 600 !important;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: clamp(300px, 30%, 432px);
    margin-inline: auto;
    padding: 1rem 1.5rem 2rem 1.5rem;
}

.button_primary {
    background-color: var(--white);
    border: 1px solid transparent;
    color: var(--primary);
} .button_primary:hover {
    background-color: var(--white-15);
    border: 1px solid var(--white-50);
    color: var(--white);
}
.button_primary:disabled {
    opacity: .5;
} .button_primary:disabled:hover {
    background-color: var(--white);
    border: 1px solid transparent;
    color: var(--primary);
}

.button_secondary {
    background-color: var(--white-15);
    border: 1px solid var(--white-50);
    color: var(--white);
} .button_secondary:hover {
    background-color: var(--white);
    border: 1px solid transparent;
    color: var(--primary);
} .button_secondary:disabled {
    opacity: .5;
}.button_secondary:disabled:hover {
    background-color: var(--white-15);
    border: 1px solid var(--white-50);
    color: var(--white);
}

.button_text {
    padding: .5rem 2.3rem;
    font-size: .9rem;
    border: 1px solid transparent;
    border-radius: 3rem;
    cursor: pointer;
    transition: all .4s;
} .button_text:hover {
    background-color: var(--white-15);
    border: 1px solid var(--white-50);
    color: var(--white);
}