@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --black: #242424;
  --black-15: #24242415;
  --black-50: #24242450;
  --black-75: #24242475;

  --white: #fefefe;
  --white-15: #fefefe15;
  --white-50: #fefefe50;
  --white-75: #fefefe75;

  --primary: #3B28CC;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--white);
  background-color: var(--primary);
  min-height: 60vh;
}

input, textarea, button, select {
  font-family: 'Poppins', sans-serif;
  border: 1px solid transparent;
}
input:focus, textarea:focus, button:focus, select:focus {
  outline: none;
}

button {
  cursor: pointer;
  padding: .5rem 2.3rem;
  font-weight: 400;
  border-radius: 3rem;
  transition: background .3s linear;
}

a {
  color: var(--white);
  text-decoration: none;
}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}

::-webkit-scrollbar { width: .35rem; }
::-webkit-scrollbar-track { background-color: var(--white-15); }
::-webkit-scrollbar-thumb {
  background-color: var(--white-15); 
  border-radius: .4rem;
}
::-webkit-scrollbar-thumb:hover { background-color: var(--white-75); }