.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid var(--white-15);
    background-color: var(--white-15);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.nav {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.logo > span {
    font-weight: 200;
    font-size: 1.25rem;
}

.nav > .link {
    font-size: .9rem;
    font-weight: 400;
    padding: .5rem;
    border: 1px solid transparent;
    transition: .1s linear;
    color: var(--white-75);
}

.divider {
    width: 1px;
    height: 20px;
    background-color: var(--white-50);
}

@media (max-width: 800px) {
    .logo {
        font-size: 1.25rem;
    }
    .nav > .link {
        font-size: .7rem;
    }
    .divider {
        height: 15px;
    }
}